body{
    margin: 0;
    padding: 0;
}
#wk{
    margin-top: 30px;
    margin-left: 40px;
}
/*#table{*/
    /*border-color:aliceblue ;*/
    /*font-size: 11px;*/
    /*border-collapse: collapse;*/

/*}*/
/*#tbl {*/
    /*color: #FFFFFF;*/
    /*border-width: 1px;*/
    /*padding: 12px;*/
    /*border-style: solid;*/
    /*border-color: aliceblue;*/
    /*background-color: #061B24;*/
/*}*/
/*#sjl {*/
    /*border-width: 1px;*/
    /*padding: 12px;*/
    /*border-style: solid;*/
    /*background-color: cadetblue;*/
/*}*/